{% extends 'quizzes.html' %}

{% block main %}
    {% if user.is_staff == False %}
    <h1>Kein Zutrit!</h1>
    {% else %}
<h1>Übersicht für {{ user_akt.get_full_name }}</h1>
<table class="zebra">
<tr><td align="center"><a href="/quiz/aw/get/{{ user_akt.id }}/all" id="main_link">Gesamt Ergebnis</a></td></tr>
        {% for quiz in user_quiz.quiz.all %}

                <tr align="center">
                    <td>
                    <a id="main_link" href="/quiz/aw/get/{{ user_akt.id }}/{{ quiz.id }}">{{ quiz.title }}</a>
                    </td>
                </tr>

        {% endfor %}
</table>
    {% endif %}
{% endblock %}