<!--Force IE6 into quirks mode with this comment tag-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" href="/media/pics/icon.png">
<title>Tobermann Truck</title>



    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quizz.css' %}"/>
    <script type="text/javascript" src="{% static 'jquery/jquery.js' %}"></script>

</head>

<body style="background-image: url('/media/pics/bg.jpg'); background-size: 100%">
    {% if form.errors %}
        <p class="error">Benutzernahme oder Passwort falsch!</p>
    {% endif %}
    <table align="center" style="width: 40%;margin-top: 20%; box-shadow: 0 0 10px; background-color: white;" class="bordered">
    <form action="/auth/" method="post">{% csrf_token %}
        <tr><th><label for="firstname">Vorname:</label></th>
        <td style="width: 100px"><input type="text" class="login" name="firstname" value="" id="firstname"></td></tr>
        <tr><th><label for="lastname">Nachname:</label></th>
        <td><input type="text" class="login" name="lastname" value="" id="lastname"></td></tr>
        <tr><td colspan="2"><input type="submit" class="button" value="Los Gehts!" /></td></tr>

    </form>
    </table>
</body>
<footer><a style="position: fixed; top: 96%; left: 2px;" href="/admin/">Admin-Bereich</a></footer>