{% extends 'quizzes.html' %}
{% block content %}
    {% if form.errors %}
        <p class="error">Benutzernahme oder Passwort falsch!</p>
    {% endif %}
    <table class="bordered">
    <form action="/auth/" method="post">{% csrf_token %}
        <tr><th><label for="firstname">Vorname:</label></th>
        <td style="width: 100px"><input type="text" class="login" name="firstname" value="" id="firstname"></td></tr>
        <tr><th><label for="lastname">Nachname:</label></th>
        <td><input type="text" class="login" name="lastname" value="" id="lastname"></td></tr>
        <input type="submit" class="button" value="Los Gehts!" />

    </form>
    </table>
{% endblock %}