{% extends 'quizzes.html' %}
<html lang="en">
<head>
    <title>Fahrschule Examiner 0.1</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/quizz.css' %}" />
</head>
{% block header %}
 {% if len >= 20 %}
     <div style="font-size: 20px">{{ quiz.title }}</div>
 {% else %}
    {{quiz.title}}
 {% endif %}

{% endblock %}

    {% block main %}
    {% if Frage.count == 0 %}
        <br>
            <h1 id="main_link" style="text-align: center" align="center">Keine Fragen vorhanden!</h1>
        {% endif %}
    <ol>
    {% for Frage in Frage %}
        <li><div id="frage">{{Frage.content}}</div></li>
    {% comment %}<form method="post" action="">
    {{ formset }}
    </form>{% endcomment %}
    {% for aw in aw %}
    {% if aw.frage.get == Frage %}
            <form action="/quiz/check/" method="post">{% csrf_token %}
            <label for="aw_check">{{ aw.content }}</label>
            <input type="checkbox" name="aw_check" id="aw_check">
            <input type="hidden" name="user_log" value="{{ user.get }}">
            <input type="hidden" name="frage" value="{{ Frage }}">
            <input type="hidden" name="antwort" value="{{ aw }}">
            <input type="hidden" name="quiz" value="{{ quiz }}">

            {% if aw.richtig %}
            <input type="hidden" name="richtig" value=True>
            {% else %}
            <input type="hidden" name="richtig" value=False>
            {% endif %}
            <br><input type="submit" value="Abgeben" />
    {% endif %}
    {% endfor %}
    {% endfor %}

    </form></ol>
    
{% endblock %}


</html>

